body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
		background-color: #f8f8f8;
		color: #1E292B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
		color: white;
		background-color: #4F6C6B;
}
.jumbotron {
	background-color: #1E292B;
	color: white;
}
.toast-header {
	color: #1E292B;
}
a {
	color: 
}